// Импорт стилей
@import "mobile.scss";

// Переменные
$fz: 100px;
$color_1: red;
$color_2: black;

// Шаблон % или через . (точку)
%tplborder {
  font-size: 10px;
  border-bottom: 5px dashed blue;
}
.tplborder {
  font-size: 10px;
  border-bottom: 5px dashed blue;
}

// Миксины

@mixin fontz($f, $c) {
  font-size: $f;
  color: $c;
}


// Вложенность
.blocks {
  width: 300px / 960px * 100%; // расчет в % сколько % займет 300px в блоке 960px
  background: #6b6e68;
  padding: 30px;
  .block-text {
    font-size: 15px;
    span {
      color: $color_1; // Используем переменную
      @include fontz(100px, green); // Подключаем миксин (в скобочках указываем значение)
    }
  }
}

// оператор END & - обращается к родителю
.link {
  color: #000;
  font-size: $fz;
  &:hover {
    text-transform: uppercase;
  }
  @extend %tplborder; //Подключаем шаблон через %
  @extend .tplborder; //Подключаем шаблон через точку
}

.block__row {
  display: inline-flex;
}
