.slider {
	width: 768px;
	height: 256px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
}

.polosa {
	background: #DEDEDE;
	width: 3584px;
	position: relative;
	left: 0;
	transition: all ease 1s;
	top: 0;
}

.polosa img {
	float: left;

}

.polosa::after {
	content: "";
	display: block;
	clear: both;
}

#slider-left {
	position: absolute;
	width: 30px;
	height: 266px;
	background: black;
	color: yellow;
	border: 1px solid white;
	left: -3px;
	top: -5px;
	text-align: center;
	font-size: 18px;
	word-wrap: break-word;
	cursor: pointer;
}

#slider-right {
	position: absolute;
	width: 30px;
	height: 266px;
	background: black;
	color: yellow;
	border: 1px solid white;
	right: -3px;
	top: -5px;
	text-align: center;
	font-size: 18px;
	word-wrap: break-word;
	cursor: pointer;
	overflow: visible;
}

#slider-right:hover, #slider-left:hover {
	background: #414141;
}

