body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 15px;
}

div, input {
	box-sizing: border-box;
}

.content {
	text-align: center;
	margin: 0 auto;
}

.header {
	background: #4e8598;
	color: white;
}

.header_logo {
	padding: 55px 0 191px 0;
	
}

.header_title {
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 30px;
}

.header_button {
	border: 1px solid white;
	width: 227px;
	margin: 0 auto 177px;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.header_button:hover {
	border: 1px solid #2f383b;
	background: #2f383b;
}

.button a {
	color: white;
	padding: 24px 0;
	display: block;
	text-decoration: none;
}

.header_arrow {
	padding-bottom: 58px;
}

.about_title {
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 90px;
	font-size: 28px;
}

.mission {
	text-align: left;
	width: 355px;
	float: left;	
}

/*.mission_title {
	content: '';
	display: block;
	background: #4e8598;
	width: 72px;
	height: 3px;
}*/