html {
	font-size: 17px;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	font-size: 17px;
}

.container {
	max-width: 1170px;
}

ul, li, div {
	padding: 0;
	margin: 0;
}

a, a:hover, a:active, a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: table;
	width: 100%;
}

img {
	max-width: 100%;
}

/*-------------------------------

			header

--------------------------------*/
/*992*/


.header {
	/*background: #14435d url('../image/header-bg.png') no-repeat center top / cover;*/
	background: #14435d url('../image/new-bg.png') no-repeat center top / cover;
	color: white;
	font-family: 'MuseoSansCyrl900', sans-serif;
	height: 100vh;
	min-height: 508px;
	position: relative;
}

.header_bg {
	background-size: auto;
	background-position: top;
}

.header-top {
	background: rgba(0,0,0,0.25);
}

.logo {
	max-width: 100%;
	height: 100%;
	/*background: url('../image/logo.png') no-repeat center;*/

}

.menu {
	margin-top: 20px;
}

.menu__item {
	display: block;
	float: left;
	text-transform: uppercase;
	font-size: 0.747rem;
	padding: 10px 9px;
	letter-spacing: 0.5px;
}

.menu__item:hover {
	background: #396376;
	border-radius: 5px;
}

.phone {
	font-size: 0.941rem;
	margin: 15px 0 0 0;
	background: url("../image/phone.png") no-repeat left center;
	padding-left: 30px;
}

.phone__number {
	margin: 0;
	text-align: right;
	font-family: 'MuseoSansCyrl900', sans-serif;
	margin-left: 15px;
}

.burger {
	display: none;
}

.burger-menu {
	display: none;
}

.header__title {
	font-size: 5.294rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 32px;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -70px;
	margin-left: -350px;
	z-index: 1;
}

.subtitle {
	font-size: 3.000rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: 60px;
	margin-left: -170px;
	z-index: 1;
}

.arrow-down {
	text-align: center;
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -22px;
}

.fa-chevron-down {
	width: 45px;
	height: 45px;
	font-size: 27px;
	text-align: center;
	border: 1px dashed #fff;
	border-radius: 50px;
	padding-top: 9px;
}

/*-------------------------------

			advantage

--------------------------------*/

.title {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 2.471rem;
	text-transform: uppercase;
	text-align: center;
	margin: 89px 0 68px 0;
	letter-spacing: 2px;
}

.items {
	height: 357px;
	background: #f4f4f4;
	box-shadow: 5px 0 5px -5px rgba(0,0,0,.2), 0 5px 5px -5px rgba(0,0,0,.2);
	text-align: center;
	margin-bottom: 95px;
}

.items__title {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 1.176rem;
	text-transform: uppercase;
	padding-top: 43%;
}

.items__title_img-reliability {
	background: url('../image/reliability.png') no-repeat center center;
}

.items__title_img-trust {
	background: url('../image/trust.png') no-repeat center center;
}

.items__title_img-competence {
	background: url('../image/competence.png') no-repeat center center;
}

.items__title:after {
	content: '';
	display: block;
	background: #c6c6c6;
	width: 72px;
	height: 3px;
	margin: 20px auto 0 auto;
}

.items__paragraph {
	font-family: 'MuseoSansCyrl100', sans-serif;
	padding: 20px 13%;
}

/*-------------------------------

			move

--------------------------------*/

.move {
	color: white;
	background: #293f51 url('../image/move-bg.png') no-repeat center top / cover;
	text-align: center;
}

.quote {
	font-family: 'MuseoSansCyrl100italic', sans-serif; 
	font-size: 1.059rem;
}

.quote__author {
	font-size: 0.824rem;
	font-family: 'MuseoSansCyrl900', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.title_margin-bottom {
	margin-bottom: 35px;
}

.dashed {
	margin: 60px auto 0 auto;
	width: 769px;
	height: 164px;
	border: 1px dashed white;
	letter-spacing: 1.5px;
	position: relative;
}

.dashed__paragraph {
	margin-top: 50px;
	font-size: 1.118rem;
	text-transform: uppercase;
	font-family: 'MuseoSansCyrl100', sans-serif;
}

.dashed__title {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 1.353rem;
	text-transform: uppercase;
}

.sort-down {
	border: 1px dashed white;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	position: absolute;
	right: 370px;
	background: #213646;
}

.sort-down_bottom {
	bottom: -17px;

}

.sort-down_top {
	top: -15px;
}


.fa-sort-down {
	margin-top: 5px;
	font-size: 13px;
}

.title_margin {
	margin: 72px 0 20px 0;
	letter-spacing: 3px;
}

.answer__paragraph {
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 1.059rem;
	letter-spacing: 1px;
}

.button {
	border: 2px solid white;
	border-radius: 5px;
	display: inline-block;
	padding: 20px 35px;
	text-transform: uppercase;
	font-family: 'MuseoSansCyrl900', sans-serif;
	margin-top: 52px;
	margin-bottom: 99px;
}


/*-------------------------------

			service

--------------------------------*/

.service {
	background: url('../image/city-bg.png') center bottom / cover;
	text-align: center;
}

.title__service {
	margin-bottom: 152px;
}

.wrapper {
	position: relative;
}


.dream {
	display: inline-block;
	height: 237px;
	background: #f4f4f4;
	margin: 0 auto;
	box-shadow: 5px 0 5px -5px rgba(0,0,0,.2), 0 5px 5px -5px rgba(0,0,0,.2);
	z-index: 10;
	position: relative;
	padding: 0 5%;
}

.gallery img{
	position: absolute;
}

.gallery__img3 {
	left: 35%;
	top: -19%;
	z-index: 1;
}

.gallery__img2 {
	left: 51%;
	top: -14%;
	z-index: 2;
}

.gallery__img1 {
	top: -32%;
	left: 42%;
	z-index: 11;
}


.dream__title {
	font-size: 20px;
	font-family: 'MuseoSansCyrl900', sans-serif;
	text-transform: uppercase;
	padding-top: 60px;
}

.dream__paragraph {
	font-family: 'MuseoSansCyrl100', sans-serif;
	width: 690px;
	margin: 0 auto;
	font-size: 1.000rem;
}

.subdream {
	background: #f4f4f4;
	display: inline-block;
	height: 144px;
	margin: 6px auto;
	box-shadow: 5px 0 5px -5px rgba(0,0,0,.2), 0 5px 5px -5px rgba(0,0,0,.2);
	position: relative;
	padding: 32px 5% 0 5%;
}

.fa-life-ring {
	color: white;
	background: #23aae2;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	position: absolute;
	top: -35px;
	right: 47%;
	font-size: 30px;
	padding-top: 15px;
	z-index: 99;
}

.button_color {
	border-color: #23aae2;
	color: #23aae2;
}


/*-------------------------------

			comment

--------------------------------*/


.comments-item {
	width: 770px;
	height: 205px;
	box-shadow: 5px 0 5px -5px rgba(0,0,0,.2), 0 5px 5px -5px rgba(0,0,0,.2);
	margin: 0 auto;
	padding-top: 44px;
	padding-left: 131px;
	padding-right: 42px;
	position: relative;
}

.comments-item__img {
	position: absolute;
	left: -60px;
}

.comments-item__name {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 0.941rem;
	display: inline-block;
	margin-right: 45px;
	text-transform: uppercase;
}

.comments-item__social {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 0.706rem;
	color: #23aae2;
	display: inline-block;
	margin-right: 149px;
	text-decoration: underline;
	text-transform: uppercase;
}

.comments-item__city {
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 0.706rem;
	color: #23aae2;
	display: inline-block;
	text-transform: uppercase;
}

.comments-item__paragraph {
	font-size: 0.824rem;
	font-family: 'MuseoSansCyrl100italic', sans-serif;
	margin-top: 30px;
}

.fa-chevron-left {
	color: #23aae2;
	position: absolute;
	left: -145px;
	font-size: 30px;
	top: 100px;
	cursor: pointer;
}

.fa-chevron-right {
	color: #23aae2;
	position: absolute;
	right: -130px;
	font-size: 30px;
	top: 100px;
	cursor: pointer;
}

.comments-item__circles {
	margin: 51px auto 90px auto;
	width: 100px;
}

.comments-item__circle {
	width: 20px;
	height: 20px;
	border: 1px dashed #23aae2;
	display: inline-block;
	margin-right: 10px;
	border-radius: 60px;
	cursor: pointer;
}

.comments-item__circle_active {
	background: #23aae2;
}

/*-------------------------------

			question

--------------------------------*/

.question {
	background: url('../image/question-bg.png') top / cover no-repeat;
	color: white;
}

.title__margin {
	margin-bottom: 33px;
}

.subtitle_question {
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 1.235rem;
	text-align: center;
	text-transform: uppercase;
}

.sort-down_bg {
	background: none;
	position: static;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 35px;
}

.form {
	width: 370px;
	margin: 0 auto;
}

.form__input {
	display: block;
	width: 370px;
	margin-bottom: 10px;
	border-radius: 6px;
	border: 1px solid white;
	background: #2fbffb;
	padding: 30px 35px;
	height: 66px;
/	font-family: 'MuseoSansCyrl300', sans-serif;
}

.form__input-tel_margin-bottom {
	margin-bottom: 20px;
}

.form__button {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 0.882rem;
	display: block;
	width: 370px;
	border-radius: 6px;
	border: 2px solid white;
	background: #2fbffb;
	text-transform: uppercase;
	height: 70px;
	padding: 0;
	margin-bottom: 85px;
}


/*-------------------------------

			footer

--------------------------------*/

.footer {
	background: #23aae2;
	color: white;
}

.right {
	margin-top: 23px;
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 0.824rem;
}

.confidentiality {
	margin-top: 23px;
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 0.824rem;
	border-bottom: 1px dotted white;
	display: table;
}

.phone_footer {
	background: url("../image/footer-phone.png") no-repeat left center;
	/*padding-left: 20px;*/
}



/*-------------------------------

			contacts-page

--------------------------------*/

.header_contacts {
	position: relative;
	height: 412px;

}

.contacts__title {
	font-size: 3rem;
	margin-left: -200px;
	top: 33%;
	margin-top: 0px;
	letter-spacing: 17px;
}

.contacts__arrow-down {
	bottom: 40%;
}

.contacts {
	background: #f7f7f7;
	height: 720px;

}

.paragraph-title {
	margin-bottom: 60px;
}

.contacts-block {
	background: #fff;
	box-shadow: 5px 0 5px -5px rgba(0,0,0,.2), 0 5px 5px -5px rgba(0,0,0,.2);
	position: absolute;
	top: -90px;
	padding: 54px 7%;
	width: 100%;
	min-width: 844px;
}

.call-block {
	margin-top: 77px;
	margin-right: 3%;
}

.call {
	font-size: 0.941rem;
	margin-bottom: 48px;
	padding-left: 70px;
	font-family: 'MuseoSansCyrl100', sans-serif;
}

.call__paragraph {
	margin: 0 10px 0 0;
}

.call-phone {
	background: url('../image/call-phone.png') no-repeat left top;
}

.call-email {
	background: url('../image/call-email.png') no-repeat left top;
}

.call-skype {
	background: url('../image/call-skype.png') no-repeat left top;
}

.call__title{
	font-size: 1.059rem;
	font-family: 'MuseoSansCyrl900', sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}


.form_contacts {
	background: #11b2f5;
	color: #FFFFFF;
	margin: 0;
	width: auto;
	padding: 44px 37px;
	border-radius: 5px;

}

.form__title {
	text-transform: uppercase;
	font-size: 1.471rem;
	font-family: 'MuseoSansCyrl900', sans-serif;
	margin-bottom: 20px;

}

.form__subtitle {
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 1.059rem;
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: 2px;
}

.form__button_contacts {
	margin-top: 20px;
	margin-bottom: 0;
}

/*-------------------------------

			move-page

--------------------------------*/


.header__title_move {
	font-size: 3rem;
	margin-left: -410px;
	letter-spacing: 5px;
}

.move-desc {
	font-family: 'MuseoSansCyrl100', sans-serif;

}

.paragraph-title_move {
	font-size: 0.941rem;
	margin-bottom: 45px;
}

.paragraph-title_text-weight {
	font-family: 'MuseoSansCyrl900', sans-serif;
}

.house {
	margin-bottom: 40px;
}

.house__paragraph, .package__paragraph {
	font-size: 0.882rem;
	display: table;
	width: 48%;
}

.house__paragraph {
	padding-top: 30px;

}

.package__paragraph {
	padding-top: 90px;
	margin-right: 8%;
	margin-left: 2%;
	width: 46%;
}


.house__img {
	margin-right: 5%;
	margin-left: 2%;
}


/*-------------------------------

			about-page

--------------------------------*/
.header__title_about {
	font-size: 3rem;
	margin-left: -250px;
	top: 33%;
	margin-top: 0px;
	letter-spacing: 17px;
}

.about {
	position: relative;
}

.about__paragraph {
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 1.059rem;
	text-align: center;
	margin-bottom: 63px;

}

.about__paragraph_weight {
	font-family: 'MuseoSansCyrl900', sans-serif;
}

.about-advantage {
	text-align: center;
	margin-bottom: 60px;

}

.about-advantage__paragraph {
	display: inline-block;
}

.about-advantage__paragraph_left {
	font-family: 'MuseoSansCyrl900', sans-serif;
	text-transform: uppercase;
	font-size: 0.882rem;
}

.about-advantage__paragraph_center {
	font-family: 'MuseoSansCyrl100', sans-serif;
	text-transform: uppercase;
	color: #bdbdbd;
	vertical-align: middle;
	padding-bottom: 40px;
	font-size: 1.118rem;
}

.about-advantage__paragraph_right {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 1.765rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.about-advantage__paragraph_left_color {
	color: #23aae2;
	font-size: 2.294rem;
}

.about-advantage__paragraph_right_color {
	color: #23aae2;
}

.about-advantage__paragraph_right_letter-spacing {
	letter-spacing: 4px;
}

.about-advantage__paragraph_center {
	letter-spacing: 10px;
	margin: 0 38px 0 45px;

}

.blue-line {
	height: 76px;
	text-align: center;
	background: #23aae2;
	width: 100%;
	position: absolute;
	left: 0;
	padding-top: 24px;
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 1.353rem;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	top: 300px;
}

.partners__title {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 1.706rem;
	margin-top: 100px;
}

.partners-block {
	background: #f4f4f4;
	text-align: center;
	width: 49%;
	float: left;
	height: 525px;
	padding: 37px 38px;
	box-shadow: 5px 0 5px -5px rgba(0,0,0,.2), 0 5px 5px -5px rgba(0,0,0,.2);
	margin-bottom: 70px;
}

.abouts {
	background: #f7f7f7;
}



.partners-left-block {
	margin-right: 2%;
}

.partners__block__img {
	margin-bottom: 30px;
}

.partners__block__title {
	font-family: 'MuseoSansCyrl900', sans-serif;
	font-size: 1.235rem;
}

.partners__block__title::after {
	content: "";
	display: block;
	width: 40px;
	height: 1px;
	background: #c6c6c6;
	margin: 15px auto;
}

.partners__block-paragraph {
	text-align: justify;
	font-family: 'MuseoSansCyrl100', sans-serif;
	font-size: 0.941rem;
}



/*

				Ш Р И Ф Т Ы

	font-family: 'MuseoSansCyrl100italic', sans-serif ;

	font-family: 'MuseoSansCyrl100', sans-serif;

	font-family: 'MuseoSansCyrl300', sans-serif;

	font-family: 'MuseoSansCyrl300Italic', sans-serif;

	font-family: 'MuseoSansCyrl900', sans-serif;

	font-family: 'MuseoSansCyrl900Italic', sans-serif;

	font-family: 'Natasha', sans-serif;
*/