html, body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	min-width: 290px;
	overflow-x: hidden;
}

img {
	display: inline;
}

a, a:hover, a:active {
	transition: 0.2s ease-out;
	color: inherit;
	text-decoration: none;
}

ul, li {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}
/*<!--...........................

				GRID
	
	.............................-->*/

.container {
	width: 1140px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.row:after {
	clear: both;
	content: "";
	display: table;
}


.col-4 {
	width: 360px;
	margin-right: 30px;
	float: left;
}

.col-4:last-child {
	margin-right: 0;
}


/*<!--...........................

				HEADER
	
	.............................-->*/
.header_section {
	background: #343c4e;
	background-image: url("../images/bg/bg-header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	color: #fff;
	height: 100vh;
	min-height: 470px;
	position: relative;
}

.menu {
	/*font-family: 'Merriweather', serif;*/
	font-size: 20px;
	line-height: 42px;
	padding-top: 20px;
	margin-bottom: 25vh;
}

.menu_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.menu_item {
	letter-spacing: 2px;
}

.menu_item:hover {
	color: #f5e110;
}

.burger {
	display: none;
}

/*.burger-menu {
	display: none;
}*/

.header {
	/*background: #343c4e;
	background-image: url("../images/bg/bg-header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	position: relative;
	height: 100vh;
	min-height: 400px;*/

	text-align: center;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*расположение контента в нутри флекс бокса - в ряд или в столбец*/
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header_title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 56px;
	line-height: 62px;
	margin-bottom: 30px;
	font-family: 'Merriweather', serif;
	margin-top: -50px;
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
		 font-weight: bold;
}

.header__subtitle {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 3px;
	font-family: 'Merriweather', serif;
	margin-bottom: 80px;
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}

.header_slogan {
	font-size: 28px;
	line-height: 42px;

	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}

.border-bottom {
	/*color: #FFBB01;*/
	border-bottom: 1px #fff solid;
}

.max-width-block {
	max-width: 750px;
}

.header_arrow{
	width: 60px;
	height: 50px;
	margin-left: -30px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	animation-duration: 3s;
	animation-delay: 1s;
}

.fa-chevron-down {
	cursor: pointer;
}

.header_arrow a{
	color: white;
	text-decoration: none;
}

span {
	font-family: fontawesome;
	font-size: 32px;
}

.inline-block_inherit {
	display: inline-block;
	margin: inherit;
	position: inherit;
	animation-duration: 2s;
	animation-delay: 1.2s;
}


/*<!--...........................

				PORTFOLIO
	
	.............................-->*/
.portfolio {
	padding-top: 70px;
	padding-bottom: 70px;
}

.title {
	font-size: 46px;
	margin-bottom: 60px;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-weight: bold;
}

.portfolio-item_img {
	margin-bottom: 17px;
}

.portfolio-item_img img {
	max-width: 100%;
	transition: 0.4s ease;
    /*cursor: zoom-in;*/
    cursor: pointer;
}

.portfolio-item_img img:hover {
	transition: 0.4s ease;
}

.portfolio-item_title {
	font-size: 24px;
	line-height: normal;
	margin-bottom: 5px;
	font-weight: bold;
}

.portfolio-item_title a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #FFF;
}

.portfolio-item_title a:hover {
	color: #0052C2;
	border-color: rgba(0, 82, 194, 0.3);
}

.portfolio-item_text p {
	margin-top: 0;
	margin-bottom: 15px;
}

.portfolio-pagination {
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    align-items: center;
    justify-content: center;
}
.margin-bottom {
	margin-bottom: 20px;
}

/*<!--...........................

		 FEATURES section 
	
	.............................-->*/

/* features */

.features {
	padding-top: 70px;
	padding-bottom: 50px;
}

.features-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features-item {
	flex-basis: 30%;
	margin-bottom: 63px;
}

.features-images {
	display: block;
	margin-bottom: 22px;
	width: 50px;
}

.features-title {
	margin: 0;
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

.features-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	margin: 0;
}

/*<!--...........................

			THECHNOLOGY section
	
	.............................-->*/

.technology {
	background-color: #061634;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

.technology-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}


.technology_title {
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 10px;
	line-height: normal;
	font-family: 'Merriweather', serif;
}

.technology_paragraph {
	word-spacing: 2.50px;
	position: relative;
	margin-bottom: 0;

}

.technology_paragraph-span {
	word-spacing: 2.50px;
	position: relative;
	margin-bottom: 0;
	font-size: 16px;
}

.technology_paragraph::before {
	content: "";
    display: block;
    width: 7px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -15px;
    bottom: 45%;
}

.technology_paragraph::after {
	content: "";
    display: block;
    width: 7px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: -15px;
    bottom: 45%;
}


/*<!--...........................

				FOOTER
	
	.............................-->*/

.footer	{
	background-color: #061634;

	background-image: url("");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	color: #6479a2;
	padding-top: 90px;
	padding-bottom: 50px;
}

.footer p {
	margin-top: 0;
	margin-bottom: 15px;
}

p.footer_contact {
	font-size: 25px;
	margin-bottom: 10px;
	line-height: normal;
	font-family: 'Merriweather', serif;
}

.footer_contact-data {

}

.footer_contact_number {
	color: #fff;
	text-decoration: none;
}

.footer_contact-mail {
	color: #fff;
	font-family: "PT Sans Caption", sans-serif;
    font-size: 16px;
}

p.footer_social {
	color: #FFF;
}

p.footer_social-icons {
	color: #FFF;
	font-size: 32px;	
}

p.footer_social-icons a {
	color: #FFF;
	text-decoration: none;
	margin-right: 30px;
}

p.footer_social-icons a:last-child {
	margin-right: 0;
}

p.footer_social-icons a:hover {
	color: #FFE400;
}

.button {
	font-weight: 700;
	font-family: 'PT Sans Caption', sans-serif;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.6px;

	display: inline-block;

	border: 2px solid #FFF;

	border-radius: 50px;

	padding: 8px 23px 8px 23px;
	margin-bottom: 13px;

	transition: 0.2s ease-out;
}

.button:hover {
	color: #061634;
	background-color: #FFF;
}


/* feedback form*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity*/
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    /*border: 5px solid #3c4961;*/
    width: 35%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #072767;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal_title {
	font-size: 26px;
	font-family: 'Merriweather', serif;
	text-align: center;
	letter-spacing: 2px;
}

.modal_success {
	font-size: 10px;
	color: #3c495b;
	text-align: center; 
}

.modal-body {
	padding: 35px 10px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-input {
	margin-bottom: 50px;
	font-family: 'PT Sans Caption', sans-serif;
	color: #072767;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	width: 50%;
	height: 40px;
	border: 2px solid #072767;
	font-size: 70%;
	font-weight: 700;
	border-radius: 50px;

	padding: 8px 23px 8px 23px;
	margin-bottom: 20px;

	transition: 0.2s ease-out;
}

.button_submit {
	color: white;
	border: 2px solid #072767;
	background: #072767;
	width: 50%;
}

.modal-footer {
    padding: 2px 16px;
    background-color: red;
    color: white;
}


/*<!--...........................

				MEDIA
	
	.............................-->*/

/*При ширине экрана в 1160px и менее - будет выполнен медиа запрос*/
@media (max-width: 1160px) {
	
	.container {
		width: 95%;
	}

	.col-4 {
		width: 100%; /*Реальная ширина = width: 100%; + border + padding 15 + 15  */
	
		margin: 0;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}

	.header {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.header_title {
		font-family: 38px;
		line-height: 48px;
		margin-bottom: 15px;
	}

	.header_slogan {
		font-size: 22px;
		line-height: 38px;
	}

	.portfolio {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.title {
		font-family: 36px;

	}

	.footer {
		padding-top: 70px;
		padding-bottom: 60px;
	}

	.modal-content {
		width: 50%;
	}

	.form-input {
		letter-spacing: 1px;
		font-weight: normal;
	}

}

@media (max-width: 768px) {
	.lock {
        overflow: hidden;
    }
	
	.container-off {
		width: 100%;
	}

	.header_title {
		font-size: 42px;
		margin-bottom: 40px;
	}

	.portfolio {
	    padding-top: 20px;
	    padding-bottom: 25px;
	}
	
	.title {
		font-size: 36px;
		margin-bottom: 30px;
	}

	.technology-block {

	}

	.technology_paragraph {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.technology_paragraph::before, .technology_paragraph::after{
	   display: none;
	}

	.features {
	    padding-top: 35px;
	    padding-bottom: 25px;
	}

	.features-block {
		text-align: center;
	}

	.features-item {
	    flex-basis: 98%;
	    margin-bottom: 50px;
	}
	.features-images {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.burger {
        position: relative;
		display: block;
		margin: 0 auto;
        width: 28px;
        height: 35px;
        z-index: 99;
        margin-bottom: 20%;
    }

    .burger__line {
    	margin-top: 20px;
        background: #fff;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 10px;
        border-radius: 15%;
        transform: rotate(0deg);
        transition: all 0.5s ease;
    }

    .burger__line_top {
        background: #fff;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0px;
        border-radius: 15%;
        transition: all 0.5s ease;
    }

    .burger__line_bottom {
        background: #fff;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 20px;
        border-radius: 15%;
        transition: all 0.5s ease;
    }

    .burger-active-first {
        transform: rotate(45deg);
        transition: all 0.5s ease;
    }

    .burger-active-second {
        transform: rotate(-45deg);
        transition: all 0.5s ease;
    }

    .burger__line_none {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .hidden {
        opacity: 0;
    }

    .burger-menu {
        position: absolute;
        z-index: 95;
        height: 100vh;
        width: 100%;
        padding-top: 5%;
        background: rgba(59,100,118, 0.8);
        opacity: 0;
    }

    .burger-menu__link {
        display: block;
        text-align: center;
    }

    .active {
        opacity: 1;
    }

    .menu {
		font-size: 30px;
		padding-top: 110px;
	}

	.menu_list {
		flex-direction: column;
	}

	.menu_item {
		margin-bottom: 50px;
		letter-spacing: 2px;
	}

	.menu_item:hover {
		color: #f5e110;
	}

	.modal-content {
		width: 90%;
	}
	
	.modal_title {
		font-size: 22px;
	}

	.form-input {
		width: 60%;
	}

	.button_submit {
		width: 60%;
	}

	p.footer_social-icons {
		font-size: 28px;
	}

}


@media (max-width: 340px) {
	html, body {
		font-size: 14px;
	}

	.header_title {
		font-size: 36px;
		margin-bottom: 45px;
	}
	
	.header_slogan {
		font-size: 18px;
	}

	.header_subtitle {
		font-size: 15px;
	}
	
	.title {
		font-size: 28px;
	}
	.portfolio-item_title {
		font-size: 22px;

	}
	.features-text {
		font-size: 15px;
	}
	.swiper-slide > .col-4 {
		margin-bottom: 0px;
	}

	.modal_title {
		font-size: 20px;
	}

	.form-input {
		width: 85%;
	}

	.button_submit {
		width: 85%;
	}

	p.footer_social-icons {
		font-size: 20px;

	}

	p.footer_social-icons a {
		margin-right: 15px;
	}

}