.slider {
	width: 768px;
	height: 256px;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;

}

/*.slider::before {
	content: "<";
	position: absolute;
	display: block;
	width: 30px;
	height: 133px;
	background: green;
	color: yellow;
	border-radius: ;
	left: 542px;
	top: 50px;
	text-align: center;
	padding-top: 133px;
}*/

.polosa {
	background: #DEDEDE;
	width: 3584px;
	position: relative;
	left: 0;
	transition: all ease 1s;
	top: 0;
}

.polosa img {
	float: left;

}

.polosa::after {
	content: "";
	display: block;
	clear: both;
}

#slider-left {
	position: absolute;
	width: 30px;
	height: 133px;
	background: black;
	color: yellow;
	border: 1px solid black;
	left: 542px;
	top: 50px;
	writing-mode: top;
}
#slider-right {
	position: absolute;
	right: 445px;
	width: 128px;
	background: green;
	color: yellow;
}

