html {
	font-size: 18px;
	font-family: "Calibri", sans-serif;
}

body {
	font-size: 18px;
	font-family: "Calibri", sans-serif;
	background: url('image/bg.png') no-repeat 0 20px / cover, url('image/light.png') no-repeat right top 117px;
}

.container {
	max-width: 1170px;
}

ul, li, div, p {
	padding: 0;
	margin: 0;
}

a, a:hover, a:active, a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

img {
	max-width: auto;
}

/*-------------------------

			HEADER

--------------------------*/

.header_top {
	padding-top: 28px;
	margin-bottom: 100px;
}

.logo {

}

.menu {
	padding-top: 19px;
}

.menu__list {
	display: flex;
	justify-content: space-around;
}

.menu__item {
	list-style-type: none;
}
.menu__item:hover {
	color: #fb973b;
}

.number {
	padding-top: 19px;
	font-weight: bold;
}

.title {
	font-size: 60px;
	font-weight: bold;
	display: inline;
	/*border-bottom: #fb973b solid 10px;*/

	-webkit-box-shadow: 0px 6px 0px 0px rgba(251,152,59,1);
	-moz-box-shadow: 0px 6px 0px 0px rgba(251,152,59,1);
	box-shadow: 0px 6px 0px 0px rgba(251,152,59,1);
}

.color-orange {
	color: #fb973b;
}

.subtitle {
	margin-top: 40px;
}

.form {
	margin-top: 47px;
}

.form__tel {
	border-radius: 0;
	background: #f8f8f8;
	width: 200px;
	height: 56px;
	padding-left: 20px;
}

.form__tel:focus {
	box-shadow: none;
	border-color: none;
	background: #f8f8f8;

}

.form__btn {
	border-radius: 0;
	background: #fb973b;
	color: white;
	border: none;
	width: 200px;
	height: 56px;
}

.form__btn:hover {
	filter: contrast(200%);
	background: #fb973b;
}

.about {
	padding-top: 200px;
	padding-bottom: 100px;
}

.about__subtitle {
	margin-bottom: 52px;
}

.number_list {
	margin-left: 20px;
}

.number_list__item {
	list-style-type: none;
	text-align: center;
	margin-top: 42px;
}

.number_list__item:nth-child(1){
	margin-top: 0;
}

.number_item {
	border: #fb973b solid 1px;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 60%;
	color: #fb973b;
	line-height: 22px;
	margin-bottom: 40px;
	position: relative;
}

.first::after {
	content: "";
	display: block;
	width: 1px;
	height: 19px;
	background: #fb973b;
	position: absolute;
	bottom: -20px;
	left: 49%;
}

.second::after{
	content: "";
	display: block;
	width: 1px;
	height: 19px;
	background: #fb973b;
	position: absolute;
	bottom: -20px;
	left: 49%;
}

.third::after{
	content: "";
	display: block;
	width: 1px;
	height: 19px;
	background: #fb973b;
	position: absolute;
	bottom: -20px;
	left: 49%;
}

.second::before{
	content: "";
	display: block;
	width: 1px;
	height: 19px;
	background: #fb973b;
	position: absolute;
	top: -20px;
	left: 49%;
	
}

.third::before{
	content: "";
	display: block;
	width: 1px;
	height: 19px;
	background: #fb973b;
	position: absolute;
	top: -20px;
	left: 49%;
}

.input-group-search input {
	margin-right: 15px;
}
